<mat-toolbar color="primary">
    <span>My Travel Blog</span>
    <span class="spacer"></span>
  
    <button mat-button routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</button>
    <button mat-button routerLink="/about" routerLinkActive="active-link">About</button>
    <button mat-button routerLink="/destinations" routerLinkActive="active-link">Destinations</button>
    <button mat-button routerLink="/blog" routerLinkActive="active-link">Blog</button>
    <button mat-button routerLink="/gallery" routerLinkActive="active-link">Gallery</button>
  </mat-toolbar>
  